{{# partial "more-css" }}
<link href="/public/css/main.css" rel="stylesheet">
{{/partial}} {{# partial "content" }}

<p>RunMode: {{runMode}} , Hot Reload: {{hotReload}}</p>
<p>activeProfiles: {{#activeProfiles}} {{.}}, {{/activeProfiles}}</p>

<p>version: {{version}} - 11234</p>
<p>now: hello, {{now}}</p>

<p>Last accessedtime: {{lastAccessedTime}}</p>
<p>Session Id: {{sessionId}}</p>

<p>creationTime: {{creationTime}}</p>
<p>session maxInactiveInterval: {{session.maxInactiveInterval}}
<ul>
  <li><a href="/javaslang">javaslang test</a></li>
  <li><a href="/test/libs">libs test</a></li>
  <li><a href="/test/json">Json test</a></li>
  <li><a href="/test/redirect">Redirect test</a></li>
  <li><a href="/test/scala">Scala test</a></li>
  <li><a href="/test/scala/handlebars">test scala handlebars</a></li>
  <li><a href="/test/scala/json">test scala json</a></li>
  <li><a href="/test/scala/json?t=scala">test scala json native</a></li>
  <li><a href="/test/handlebars">test handlebars</a></li>
  <li><a href="/ping">Tool ping</a></li>
</ul>

{{/partial}} {{# partial "more-js" }}
<script src="/webjars/lodash/3.6.0/lodash.min.js"></script>
{{/partial}} {{> layout/application}}
